*{box-sizing:border-box}

body{
    margin:0;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.site-header{
    background:#fff;
    height: 70px;
}
.site-headerInner{
    display:flex;
    align-items:center;
    gap:24px;
    padding:14px clamp(16px,4vw,40px);
}

.logo img{height:20px;display:block}

.nav{
    margin-left:auto;
    display:flex;
    align-items:center;
    gap:24px;
}

.navList{
    display:flex;
    gap:45px;
    list-style:none;
    margin:0;
    padding:0;
}
.navList a{
    text-decoration:none;
    color:#222;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-weight:700;
}
.navList a .en{
    font-size:12px;
    letter-spacing:.08em;
    font-family: "Lato", sans-serif;
}
.navList a .ja{
    font-size:10px;
    color:#666;
    margin-top:2px;
}

.navBtn-cta{
    display:inline-block;
    padding:10px 30px;
    border-radius:999px;
    background:#f7931a;
    color:#fff;
    text-decoration:none;
    font-weight:700;
    white-space:nowrap;
    font-size: 12px;
}

.cta:hover{opacity:.8}

.topImages {
    position: relative;
    min-height: 700px;
    padding: 48px 24px 200px;
    display: grid;
    align-items: center;
    gap: 24px;
    overflow: hidden;
}

.topImageChild {
    display: inline-block;
    position: relative;
    top: -50px
}

/*左上の三角形*/
.TriangleLeft {
    position: absolute;
    top: 0;
    left: 0;
    width: 335px;
    aspect-ratio: 1.1/1;
    translate: -10% 0%;
    z-index: 0;
}

/*楕円形のスタイル*/
.oval {
    position: absolute;
    inset: 0;
    width: min(46vw, 527px);
    aspect-ratio: 1/1;
    translate: -10% 15%;
    z-index: 0;
}

/*No.1のサークル*/
.circle {
    position: absolute;
    top: 110px;
    left: 45%;
    height: auto;
    z-index: 3;    
}

/*人の画像のスタイル*/
.human {
    position: absolute;
    align-self: start;
    justify-self: end;
    width: 775px;
    aspect-ratio: 1.2/1;
    translate: 0% -5%;
    z-index: 1;
}

/*右下三角のスタイル*/
.TriangleRight {
    position: absolute;
    justify-self: end;
    margin-top: 320px;
    width: 400px;
    aspect-ratio: 1/1;
    z-index: 0;
}

.topMessage {
    font-size: clamp(28px,3.6vw,44px);
    line-height: 1.25;
    margin: 12px 0 28px;
    font-weight: 800;
}

.topTitle {
    position: absolute;
    top: 192px;
    left: 23%;
    max-width: 480px;
    font-family: "Lato", sans-serif;
    z-index: 3;
}

.topTitle h1 {
    font-size: clamp(28px, 3.6vw, 44px);
    line-height: 1.5;
    font-weight: 800;
    font-size: 42px;
    color: #2c2b2b;
}

.topBtn-cta {
    display:inline-block;
    padding:20px 150px;
    border-radius:999px;
    background:#f7931a;
    color:#fff;
    text-decoration:none;
    font-weight:700;
    white-space:nowrap;
    font-size: 16px;
}

.topAnnotation {
    font-size: 12px;
}